<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='input_data.js') }}"></script>
    <title>Website Template</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        input[type="text"] {
            width: 100%;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <h1>Website Template</h1>
    <form id="uploadData" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>Name</th>
                <th>Input</th>
            </tr>
            <tr>
                <td>Пол</td>
                <td>
                    <label for="sex"></label><select id="sex" name='Пол'>
                        <option value="M">Мужчина</option>
                        <option value="Ж">Женщина</option>
                    </select>
                </td>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item }}</td>
                <td><input type="text" name="{{ item }}" pattern="[0-9]*" title="Only numbers are allowed" required></td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>