<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Диагностика нарушений дыхания во сне</title>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  </head>
  <body>

    <div id="overlay">
      <div class="overlay-content">
        Ждите, модель предугадывает
      </div>
    </div>
    <div class="container">
      {% if error %}
            <div class="alert">
              <strong class="alert-content">{{ error }}</strong>
            </div>
        {% endif %}
      <h1>Диагностика нарушений дыхания во сне</h1>
      <h2>Загрузите файл с физиологическими показателями</h2>
      <form id="uploadForm" method="post" action="{{ url_for('upload_file') }}" name="uploadForm"
        enctype="multipart/form-data">
        <div>
          <input type="file" name="file" required>
        </div>
        <h2>Персональные данные</h2>
        <table>
          <tr>
            <td>ФИО врача</td>
            <td><input type="text" name="doctor_full_name" ></td>
          </tr>
          <tr>
            <td>ФИО пациента</td>
            <td><input type="text" name="patient_full_name" ></td>
          </tr>

        </table>

        <h2>Ввод данных пациента</h2>
        <table>
          <tr>
            <th>Название</th>
            <th>Ввод</th>
          </tr>
          <tr>
            <td>Пол</td>
            <td>
              <select id="sex" name='Пол'>
                <option value="1">Мужской</option>
                <option value="0">Женский</option>
              </select>
            </td>
          </tr>
          {% for name, value in params.items() %}
          <tr>
            <td>{{ value }}</td>
            <td><input type="text" name="{{ name }}" pattern="[0-9]*" title="Only numbers are allowed" required></td>
          </tr>
          {% endfor %}
        </table>
        <h2>Список каналов, которые будут использоваться при анализе</h2>
        <table>
          <tr>
            <th>Название канала</th>
            <th>Использовать?</th>
          </tr>
          {% for item in features %}
          <tr>
            <td>{{ item }}</td>
            <td><input type="checkbox" name="{{ item }}" value="true"></td>
          </tr>
          {% endfor %}
        </table>
          <button type="submit" class="submit-button">Предвидеть наилучшее будущее</button>
      </form>
    </div>
  </body>
</html>